.footer {
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 6rem);
    &__left {
        margin-left: 5px;
        display: flex;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #949BA6;
        a {
            color: #5243C2;
        }
    }
    &__policy {
        margin-left: 8px;
        margin-right: 4px;
    }
    &__terms {
        margin-left: 4px;
    }
    &__payment {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 8px;
    }
}