@import 'libs/bootstrap-reboot.min';
@import 'base/variables';
* {
    margin: 0;
    padding: 0;
    transition:.2s linear;
}

body {
    position: relative;
}

.wrapper {
    position: relative;
    max-width: 1540px; 
    margin: 0 auto;
    height: 100vh;
    padding: 0 3rem;
    user-select: none;
    overflow-y: auto;
}

@media (max-height: 772px) {
    .wrapper {
        min-height: 800px;
    }
}

p {
    margin-bottom: 0;
}

main {
    height: calc(100% - 140px)
}

@import 'blocks/animations';
@import 'base/fonts';
@import 'blocks/header';
@import 'blocks/discover';
@import 'blocks/burger';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'base/media';
